<a class="nav-link {{current}}" href="#" data-bs-toggle="collapse" data-bs-target="#dropitem{{name}}" aria-expanded="{{expanded}}" aria-controls="dropitem{{name}}">
    <div class="sb-nav-link-icon"><i class="{{icon}}"></i></div>
    {{label}}
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse {{show}}" id="dropitem{{name}}" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        {{subLinks}}
    </nav>
</div>
